.about-main .about-h1,
.about-main .about-p {
  width: 70%;
  min-width: 320px;
  text-align: justify;
  margin: auto;
  line-height: 1.6;
}
.about-main .about-p-1 {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
  line-height: 1.6;
}
.about-main .about-h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 120px;
}
.about-main .flex-1 {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background: #00000005;
  border: 1px solid rgba(255, 0, 0, 0.207);
  border-radius: 10px;
  padding: 20px 10px;
}
.about-main .flex-1 p {
  /* background: #000; */
  line-height: 1.6;
}
.about-main .flex-1 h2 {
  width: 200px;
  flex-shrink: 0;
  /* background: #b18282; */
}

.hero-2 {
  position: relative;
  width: 70%;
  min-width: 320px;
  height: 60vh;
  margin: auto;
  overflow: hidden;
}

.hero-2-slide {
  position: absolute;
  inset: 0;
}

.hero-2-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-2-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.041);
}
.hero-2-img-2 {
  /* position: absolute; */
  inset: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  /* left: 50%; */
  /* transform: translateX(-50%, -0%); */
}
.hero-2-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  /* background: #000; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  /* padding-left: 10%; */
  z-index: 2;
}

.hero-2-title {
  font-size: 1rem;
  /* margin-left: 20%; */
  /* margin-top: 3%; */
  font-weight: 700;
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .hero-2-title {
    font-size: 1rem;
    /* margin-top: 5%; */
  }
}

.hero-2-subtitle {
  margin-top: 1rem;
  max-width: 700px;
  /* margin-left: 20%; */
  font-size: 1.2rem;
  color: #000000;
}

.hero-2-nav {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 3;
}

.nav-btn {
  background: rgba(255, 255, 255, 0.608);
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.nav-btn:hover {
  background: white;
}

@media screen and (max-width: 700px) {
  .about-main .flex-1 {
    flex-direction: column;
    text-align: justify;
    min-width: 320px;
    padding: 20px 10px;
  }
  .about-main .flex-1 h2 {
    width: 100%;
    text-align: center;
  }
}
